@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans TC', 'Inter', sans-serif;
  background-color: #f1f5f9;
  color: #334155;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 80px;
}
